@font-face {
  font-family: 'Permanent_Marker';
  src: url(PermanentMarker-Regular.ttf) format('truetype');
}

body {
  --pico-font-family: 'Permanent_Marker', sans-serif;
  font-family: var(--pico-font-family);
}

main.container {
  max-width: 800px;
  padding: 1rem;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 1rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  place-items: center;
}

.gallery-btn {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.gallery-btn img {
  max-width: 100%;
  max-height: 50vh;
  display: block;
}

dialog img {
  max-width: 100%;
  height: auto;
}

dialog.popover article {
  text-align: center;
}

dialog.popover header {
  min-height: 2rem;
}

/* Reusable corner ribbon */
.sold-ribbon {
  position: relative;
  display: inline-block;
}

.sold-ribbon::before {
  content: "SOLD";
  position: absolute;
  top: 2.5rem;
  right: 0;
  background-color: rgba(255, 0, 0, 0.8); /* Red background with transparency */
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5px 10px;
  transform: rotate(45deg);
  transform-origin: top right;
  z-index: 1;
  pointer-events: none; /* Prevent interaction */
}