@font-face {
 font-family: 'Permanent_Marker';
 src: url(PermanentMarker-Regular.ttf) format('truetype');
}

body {
  --pico-font-family: 'Permanent_Marker', sans-serif;
  font-family: var(--pico-font-family);
}

main.container {
  max-width: 728px;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 1rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  place-items: center;
}

.gallery-btn {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.gallery-btn img {
  max-width: 100%;
  max-height: 50vh;
  display: block;
}

dialog img {
  max-width: 100%;
  height: auto;
}

dialog.popover article {
  text-align: center;
}

dialog.popover header {
  min-height: 2rem;
}